@font-face {
    font-family: Comfortaa;
    src: url("fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf")
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Comfortaa, sans-serif;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/theater.jpg");
    /* background-blend-mode: darken; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3rem;
    height: 100%;
    flex-grow: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploring {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    opacity: 0.3;
    z-index: 0;
}

.movie-results {
    position: absolute;
    top: 100px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    
}

.movie {
    display: flex;
    gap: 2rem;
}

.poster {
    width: 14rem;
}

.film-background {
    width: 6rem;
    
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.add-icon {
    width: 2rem;
}

.search-form {
    position: absolute;
    top: -16px;
    display: flex;
    width: 75%;
    
}

#search {
    padding: .5rem 0 .5rem 2.75rem;
    font-size: 1.25rem;
    background-image: url("images/magnifying-glass.svg");
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    flex-grow: 2;
    
}

#search-btn {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-family: inherit;
}




/* Typography */

.title {
    color: whitesmoke;
    font-size: 3rem;
}

header .link {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
}

.link:hover {
    opacity: 0.7;
}

.empty-text {
    font-size: 2.5rem;
    color: gray;
}

.add-link {
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.watchlist-link {
    color: whitesmoke;
}

.exploring-text {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}